.floatproject{
  position: absolute;
  top: 5%;
  left: 40%;
  width: 400px;
  height: 600px;
  background-color: #FFFFFF;
  /* border: 1px solid lightgrey; */
  box-shadow: 3px 3px 15px 3px rgba(0,0,0,0.1);
}
